<div class="col-lg-4 col-6 mt-10" style="display: bvlock;">
    <div class="h-100">
        <div class="card m-auto h-100" style="width: 17rem; background-color: transparent;">
            <div class="card-body">
                <div class="text-center"><img class="mb-2"src="{{img}}" style="max-height: 200px;"></div>
                <p class="card-text">
                    <h4>{{name}}</h4>
                    <p>Tác giả: {{author}}</p>
                    <p>Năm xuất bản: {{publish_at}}</p>
                    <p>Nhà xuất bản: {{publisher}}</p>
                    <p>Giá bìa: {{price}}</p>
                </p>
            </div>
    </div>
</div>
</div>
